---
name: Pull Request
"on":
  pull_request:

jobs:
  test-actions:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/run-test-actions.yaml

  test-go:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/run-test-go.yaml
