---
name: main branch
"on":
  push:
    branches:
      - main

jobs:
  test-actions:
    permissions:
      contents: read
    uses: ./.github/workflows/run-test-actions.yml

  test-go:
    permissions:
      contents: read
    uses: ./.github/workflows/run-test-go.yml
