---
name: Test Go
"on":
  workflow_call:

jobs:
  test-go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # v6.0.0
        with:
          go-version: ${{ matrix.go }}
      - uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47  # v9.0.0
      - name: go generate の生成漏れが無いか確認
        run: |
          set -e
          go generate ./...
          git diff --exit-code
      - name: go build
        run: |
          (cd cmd/example && go build -o main main.go) || exit 1
          (cd cmd/example-grpc && go build -o main main.go) || exit 1
          (cd cmd/example-http && go build -o main main.go) || exit 1
      - name: go test
        run: go test ./...
      - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee  # v1.0.4
