---
name: Test Go
"on":
  workflow_call:

jobs:
  test-go:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      - name: go generate の生成漏れが無いか確認
        run: |
          set -e
          go generate ./...
          git diff --exit-code
      - name: go build
        run: |
          (cd cmd/example && go build -o main main.go) || exit 1
          (cd cmd/example-grpc && go build -o main main.go) || exit 1
          (cd cmd/example-http && go build -o main main.go) || exit 1
      - name: go test
        run: go test ./...
      - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          repo-checkout: false
