---
name: Test GitHub Actions
"on":
  workflow_call:

jobs:
  test-actions:
    name: Test GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0  # v1.21.0
        with:
          fail_level: error
          reporter: github-pr-review
      - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0  # v1.68.0
        with:
          # fail_level: error
          fail_on_error: true
          reporter: github-pr-review
