---
name: Test GitHub Actions
"on":
  workflow_call:

jobs:
  test-actions:
    name: Test GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0  # v1.21.0
        with:
          fail_level: error
          reporter: github-pr-review
      - uses: reviewdog/action-actionlint@437bbe918b0d29544cbf9e8b1d63fe6f4e7a881d  # v1.69.0
        with:
          # fail_level: error
          fail_on_error: true
          reporter: github-pr-review
